/* CSS MENU RESPONSIVO */


a.icone_exibir {
    background-color: #2196F3;
    text-decoration: none;
    padding: 5px 20px;
    color: #000;
    position: absolute;
    display: none;
}
.main {
    width: calc(100% - 250px);
    margin-left: 250px;
    padding: 20px 30px;
    box-sizing: border-box;
}
aside.barra_lateral {
    width: 250px;
    min-height: calc(100% - 120px);
    background-color: #03A9F4;
    position: absolute;
    left: 0;
    transition: .5s all;
}
aside .icone_ocultar {
    width: 100%;
    position: relative;
    display: block;
    background: #2196F3;
    color: #000;
    text-align: center;
    padding: 5px 0px;
    border-bottom: 1px solid #494949;
    text-decoration: none;
    display: none;
    transition: 1s all;
}
.exibir_conteudo {
    left: 0 !important;
}
@media screen and (max-width: 768px) {
    main {width: 100%; margin-left: 0; margin-top: 30px;}
    aside.barra_lateral {left: -250px;}
    a.icone_exibir {display: block !important; }
}
@media screen and (min-width: 768px) {
    aside .icone_ocultar {display: none !important;}
    a.icone_exibir {display: none !important;}
}

.menu_top {
    width: 100%;
    height: 80px;
}
.menu_top img {
    float: left;
    height: 40px;
    position: relative;
    top: 20px;
    left: 20px;
}
.menu_top .menu .linkMenu {
    text-decoration: none;
    margin: 30px 8px 0px;
    font-weight: bold;
    font-family: 'Montserrat';
    position: relative;
    color: #000;
    left: 50%;
    top: 30px;
}
.menu_top .menu .login {
    background-color: aqua;
    color: rgb(2, 0, 0);
    padding: 10px 12px;
}
.section-banner-home {
    width: 100%;
    height: 500px;
    padding: 50px;
    margin: 30px auto;
    background-color: #005caa;
}
.section-banner-home img {
    height: 400px;
}
.section-banner-home .texto-banner {
    margin-top: 30px;
    font-size: 22px;
}
.section-banner-home .texto-banner h1 {
    font-size: 30px;
    width: 60%;
    font-weight: 500;
    padding-bottom: 20px;
}
.section-banner-home .texto-banner p {
    font-size: 15px;
    margin-bottom: 20px;
}
.section-banner-home .texto-banner a {
    color: #000;
    text-decoration: none;
    background-color: #fff;
    padding: 4px 14px;
    font-size: 15px;
}


/* Galeria */
.destaque h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.destaque .destaque p{
    width: 77%;
    text-align: center;
    font-size: 14px;
    margin: 30px auto;
}
.destaque figcaption {
    font-size: 13px;
}
.destaque a {
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: #30dcf4;
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0;
} 
.novidades {
    background-color: #082373;
    padding: 50px;
}
.novidades .text-body {
    width: 80%;
    margin: 70px auto;
}
.novidades h2 {
    color: #fff;
    font-size: 26px;
    width: 70%;
}
.novidades p {
    color: #fff;
}
.novidades a {
    color: #000;
    text-decoration: none;
    padding: 6px 12px;
    background-color: #fff;
    font-weight: 400;
}
.galeria {
    margin: 60px auto 20px;
}
.galeria h2 {
    text-align: center;
    width: 50%;
    margin: 14px auto 50px;
}
.galeria .gallery {
    width: 30%;
    margin: 14px auto 50px;
}


/* CSS FOOTER */
.rodape {
    padding: 50px 50px 0;
}
.rodape .info-contato {
    margin: 0px;
}
.rodape a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
}
.rodape a:hover {
    font-weight: bold;
}
.rodape .redes-sociais {
    display: inline-block;
}
.rodape .redes-sociais img {
    width: 45px;
    height: 40px;
}
.redes-sociais p.direitos {
    text-align: center;
    margin-top: 40px;
}