/* css */
.menu_top{
    width: 100%;
    height: 80px;
}
/* Seletores destacados em vermelho*/
.menu_top img{
    float: left;
    height: 40px;
    position: relative;
    top: 20px;
    left: 28px;
}
.menu_top .menu .linkMenu{
    text-decoration: none;
    margin: 30px 8px 0px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    color: #000;
    left: 50%;
    top: 30%;
}
.menu_top .menu .login{
    background-color: aqua;
    color: #fff;
    padding: 10px 12px;
}
/* CSS */

.section-banner-home{
    width: 100;
    height: 500px;
    padding: 50px;
    margin: 30px auto;
    background-color: #005caa;
}
.section-banner-home .texto-banner {
    margin-top: 30px;
    font-size: 22px;
}

.section-banner-home .texto-banner h1{
    font-size: 30px;
    width: 60%;
    font-weight: 500;
    padding-bottom: 20px;
}
.section-banner-home .texto-banner p{
    font-size: 15px;
    margin-bottom: 20px;
}
.section-banner-home .texto-banner a{
    color: #000;
    text-decoration: none;
    background: #fff;
    padding: 4px 14px;
    font-size: 15px;
}
/* CSS */
.destaque h2{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.destaque p{
    width: 77%;
    text-align: center;
    font-size: 30px auto;
}
.destaque figcaption{
    font-size: 13px;
}
.destaque a{
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: #30dcf4;
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0;
}
.novidades{
    background-color: #082373;
    padding: 80px;
}
.novidades .text-body{
    width: 80%;
    margin: 70px auto;
}
.novidades h2{
    color: #fff;
    font-size: 26px;
    width: 70%;
}
.novidades p{
    color: #fff;
}
.novidades a{
    color: black;
    text-decoration: underline bold;
    text-decoration-color: calc();
    padding: 6px 12px;
    background-color: #fff;
    font-weight: 400;
}
.galeria{
    margin: 60px auto 20px;
}
.galeria h2{
    text-align: center;
    font-size: 24px;
}
.galeria p{
    text-align: center;
    width: 50%;
    margin: 14px auto 50px;
}
.galeria .gallery{
    width: 30%;
    margin: 14px auto 50px;
}
/* CSS footer*/
.rodape {
    padding: 50px 50px 0;
}
.rodape .info-contato p{
    margin: 0px;
}
.rodape a{
    text-decoration: none;
    color: #000;
    font-size: 13px;
}
.rodape a:hover {
    font-weight: bold;
}
.rodape .redes-socias {
    display: inline-block;
}
.rodape .redes-socias img{
    width: 45px;
    height: 40px;
}
.rodape p.direitos{
    text-align: center;
    margin-top: 40px;
}